* {
  margin: 0;
  padding: 0;
  font-family: "Noto Serif TC", serif;
}

//buttons and links
.link {
  padding: 10px 20px;
  margin: 0 10px;
  color: inherit;
  transition: all 250ms ease;
  font-weight: bold;
}
.link:hover {
  color: rgb(14, 128, 170) !important;
}

h1 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}
