.article {
  width: 75%;
  margin: auto;

  h2 {
    border-bottom: 4px double black;
    padding-bottom: 10px;
  }

  .authorName {
    margin-bottom: 20px;
    margin-top: 15px;
    width: 100%;

    .authors {
      display: flex;
    }

    em {
      padding: 10px 15px;
      margin-top: 15px;
      border: none;
      cursor: pointer;
      background-color: rgb(0, 132, 255);
      color: white;
      font-weight: bold;
      width: fit-content;
      border-radius: 25px;
    }
    em:hover {
      background-color: rgb(62, 162, 255);
    }
  }
}
